.login {
   display: flex;
   flex-direction: column;
   &__header {
      font-size: 24px;
      color: $white;
   }

   &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
      color: $white;

      figure {
         height: 150px;

         img {
            height: 100%;
         }
      }

      p {
         font-size: 18px;
      }
      .inputs {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 60%;
         gap: 10px;
         flex-direction: column;

         select {
            width: 100%;
            height: 53px;
            font-size: 18px;
            background-color: transparent;
            border-radius: 30px;
            border: 1px solid $white;
            outline: none;
            padding: 0 20px;
            color: $white;
         }
      }

      button {
         background-color: transparent;
         border: none;
         outline: none;
         color: $white;
         font-size: 18px;
         font-weight: bold;
         cursor: pointer;

         &:hover {
            opacity: 0.8;
         }
      }
   }
}
