.question {
   &__header {
      display: flex;

      figure {
         height: 70px;
         width: 70px;
         border-radius: 50%;
         overflow: hidden;
         border: 2px solid $white;

         img {
            width: 100%;
            height: 100%;
         }
      }

      > div {
         padding-left: 20px;
         color: $white;

         h6 {
            font-size: 22px;
         }
         p {
            font-size: 18px;
         }
      }
   }

   &__content {
      flex: 1;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      > p {
         font-size: 24px;
         font-weight: bold;
         color: $white;
      }
   }
}
