.menu {
   height: auto;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   padding: 20px 0;
   margin-bottom: 50px;

   a,
   button,
   p {
      color: $white;
      text-decoration: none;
      font-size: 24px;
      font-weight: 600;
      padding: 0 30px;
   }

   &__figure {
      img {
         width: 139px;
         height: 55px;
      }
   }

   &__nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;

      .links {
         display: flex;
         justify-content: space-around;
         align-items: center;
         height: 57px;
         padding: 0 10px;
         background-color: $green;
         border-radius: 30px;

         @include both-phones {
            flex-wrap: wrap;
            height: auto;
            padding: 5px;
            margin: 5px;
         }

         .selected {
            background-color: $white;
            border-radius: 30px;
            color: $green;
         }

         button {
            outline: none;
            border: none;
            background-color: transparent;
            cursor: pointer;

            &:hover {
               opacity: 0.7;
            }
         }
         .user {
            height: 100%;
            display: flex;
            align-items: center;
            background-color: $red;
            border-radius: 30px;
            height: 50px;
            padding: 0 5px;

            figure {
               height: 80%;
               border-radius: 50%;
               overflow: hidden;
               img {
                  height: 100%;
               }
            }
         }
      }
   }
}
