.questionResultBox {
   position: relative;
   width: 320px;
   height: 220px;
   border-radius: 30px;
   background-color: $bistre;
   color: $white;
   border: none;
   outline: none;
   cursor: pointer;

   &__wrapper {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90%;
      padding: 20px 20px;
      background-color: $white;
      color: $bistre;
      border-radius: 30px;
      text-align: left;
      border-radius: 30px;

      h6 {
         font-size: 24px;
      }
      p {
         font-size: 24px;
      }

      .yourVote {
         position: absolute;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 30px;
         width: 60%;
         top: -30px;
         left: 50%;
         transform: translateX(-50%);
         border-top-left-radius: 30px;
         border-top-right-radius: 30px;
         background-color: $red;

         > p {
            color: $white;
            font-size: 14px;
            font-weight: 600;
         }
      }

      .disabled {
         display: none;
      }
   }

   &__percentage {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      height: 100%;
      background-color: $red;
      border-radius: 30px;
      p {
         color: $white;
         font-size: 12px;
         padding: 2px 25px;
      }
   }
}

.selectedQuestion {
   border: 4px solid $red;
}
